@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";

body {
	font-family: "Inter", sans-serif;
	@include adaptiveValue("font-size", 18, 14);
	color: rgb(55, 57, 63);
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	> main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	max-width: #{$containerWidth}px;
	padding-left: toRem(15);
	padding-right: toRem(15);
	margin: 0 auto;
}
// Header
@import "_header.scss";

// section HERO----------------

.main-about__title,
.saide-about__title,
.list-about__item,
.benefits__title,
.profession__title,
.title-section {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}
.saide-about__text,
.main-about__text {
	color: rgb(125, 125, 125);
	font-weight: 400;
}

.title-decor {
	display: flex;
	align-items: center;
	column-gap: toRem(7);
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: toRem(16);
	&--white {
		color: rgb(255, 255, 255);
	}
	&::before {
		content: "";
		width: toRem(11);
		height: toRem(11);
		background: rgb(64, 221, 182);
	}
}

.title-section {
	@include adaptiveValue("font-size", 40, 25);
	line-height: 1.5;
	&--white {
		color: rgb(255, 255, 255);
	}
}

.link-read-more {
	color: rgb(107, 119, 229);
	font-weight: 600;
	line-height: 1.2;
	position: relative;
	align-self: flex-start;
	&::after {
		content: "";
		width: 0%;
		height: toRem(2);
		background-color: #7b8feb;
		position: absolute;
		right: 0;
		bottom: toRem(-2);
		transition: all 0.3s;
	}
	@media (any-hover: hover) {
		&:hover {
			&::after {
				width: 100%;
				left: 0;
			}
		}
	}
}

.page {
	margin-bottom: toRem(150);
	padding-top: toRem(110);
}

.hero {
	position: relative;
	min-height: calc(100vh - toRem(185));
	display: flex;
	//hero__background
	.hero__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .hero__content
	&__content {
		background: rgba(55, 57, 63, 0.839);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		flex: 0 0 toRem(828);
		padding: 0.9375rem;
		background-color: rgba(55, 57, 63, 0.9);
		@include adaptiveValue("padding-top", 205, 30);
		@include adaptiveValue("padding-bottom", 205, 30);
		@media (max-width: toEm(991.8)) {
			flex-basis: 100%;
		}
	}

	// .hero__detalis
	&__detalis {
		max-width: toRem(529);
	}

	// .hero__header
	&__header {
		& > *:not(:last-child) {
			margin-bottom: toRem(10);
		}
		margin-bottom: toRem(20);
	}

	&__sab-title {
		font-weight: 600;
	}

	// .hero__title
	&__title {
		font-size: toRem(60);
		@include adaptiveValue("font-size", 60, 30);
		line-height: 1.1;
		span {
			color: rgb(64, 221, 182);
		}
	}

	// .hero__text
	&__text {
		font-weight: 500;
		margin-bottom: toRem(35);
	}

	// .hero__action
	&__action {
		display: flex;
		@include adaptiveValue("gap", 30, 15);
		flex-wrap: wrap;
		@media (max-width: toEm(449.9)) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .hero__link-batton
	&__link-batton {
		background-color: rgb(64, 221, 182);
		color: #000;
		color: rgb(55, 57, 63);
		font-weight: 600;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgb(44, 176, 139);
			}
		}
	}
}

.title-decor--white {
	color: rgb(255, 255, 255);
}

.text-section {
	color: rgb(185, 185, 185);
	line-height: 1.4;
	& > *:not(:last-child) {
		margin-bottom: toRem(5);
	}
}
.video-link {
	display: flex;
	align-items: center;
	column-gap: toRem(10);
	color: rgb(255, 255, 255);
	font-weight: 600;
	line-height: 1.2;
	text-transform: capitalize;
	// .video-link__image
	&__image {
		width: toRem(60);
		height: toRem(60);
		transition: transform 0.3s;
	}
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
			.video-link__image {
				transform: scale(0.9);
			}
		}
	}
}
//-----------------------

// section ABOUT---------------
.page {
	// .page__about
	&__about {
		position: relative;
		&--margin {
			margin-bottom: toRem(100);
		}
	}
}
.about {
	// .about__container
	&__container {
		display: flex;
		@media (max-width: toEm(756.8)) {
			flex-direction: column;
		}
	}

	// .about__main
	// .about__saide
	&__saide,
	&__main {
		@include adaptiveValue("padding-top", 150, 30, 0, 1100, 600);
		@include adaptiveValue("padding-bottom", 150, 30, 0, 1100, 600);
	}
}
.saide-about {
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	flex-basis: 40.08%;
	display: flex;
	padding-right: toRem(68);
	@include adaptiveValue("padding-right", 68, 10, 0, 1100, 756);
	@media (max-width: toEm(436.8)) {
		padding-right: toRem(0);
	}

	&::before {
		content: "";
		width: 100vw;
		height: 100%;
		top: 0;
		right: 0rem;
		position: absolute;
		background-color: #f4f4f4;
		z-index: -1;
	}

	// .saide-about__content
	&__content {
		max-width: toRem(408);
		& > *:not(:last-child) {
			margin-bottom: toRem(16);
		}
		@media (max-width: toEm(756.8)) {
			max-width: 100%;
			display: flex;
			column-gap: toRem(20);
			@media (max-width: toEm(556.8)) {
				flex-direction: column;
			}
		}
	}
	// .saide-about__image
	&__image {
		aspect-ratio: 408/446;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__wraps > *:not(:last-child) {
		margin-bottom: toRem(20);
	}

	// .saide-about__title
	&__title {
		color: rgb(55, 57, 63);
		@include adaptiveValue("font-size", 30, 15);
		font-weight: 600;
		line-height: 1.2;
	}

	// .saide-about__link
	&__link {
		font-weight: 600;
		position: relative;
		line-height: 1.2;
		&::after {
			content: "";
			width: 0%;
			height: toRem(2);
			background-color: #000;
			position: absolute;
			right: 0;
			bottom: toRem(-2);
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}
.main-about {
	flex-basis: 59.36%;
	display: flex;
	// padding-left: toRem(68);
	@include adaptiveValue("padding-left", 68, 10, 0, 1100, 756);
	@media (max-width: toEm(436.8)) {
		padding-left: toRem(0);
	}

	// .main-about__detalis
	&__detalis {
		display: flex;
		flex-direction: column;
		& > * {
			margin-bottom: toRem(20);
		}
		& > *:last-child {
			margin-bottom: toRem(0);
		}
	}

	// .main-about__header
	&__header {
		display: grid;
		max-width: toRem(414);
	}
}
.list-about {
	// .list-about__item
	& > *:not(:last-child) {
		margin-bottom: toRem(23);
	}
	margin-bottom: toRem(40);
	&__item {
		display: flex;
		align-items: center;
		column-gap: toRem(8);
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 400;
		line-height: 1.5;

		&::before {
			content: "";
			width: toRem(27);
			height: toRem(27);
			background: url(../img/about/icon-about/check-decor.svg) no-repeat center;
		}
	}
}
.benefits {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(21);
	margin-bottom: toRem(37);
	// .benefits__item
	&__item {
		display: flex;
		max-width: toRem(295);
		column-gap: toRem(19);
		@include adaptiveValue("padding", 32, 15);
		border: 1px solid rgb(227, 227, 227);
	}

	// .benefist__image
	&__image {
		width: toRem(39);
		height: toRem(39);
		object-fit: cover;
		column-gap: toRem(19);
	}

	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.5;
	}

	// .benefits__text
	&__text {
		color: rgb(125, 125, 125);
		font-size: toRem(16);
		line-height: 1.3;
	}
}
//-----------------------

// Section Brands
.page {
	// .page__brands
	&__brands {
		&--margin {
			@include adaptiveValue("margin-bottom", 85, 30);
		}
	}
}

.slider-brands {
	display: flex;
	overflow: hidden;
	@keyframes slide {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.slider-brands__items {
				animation-play-state: paused;
			}
		}
	}
	// .slider-brands__items
	&__items {
		display: flex;
		flex: 0 0 auto;
		justify-content: space-between;
		animation: slide 20s linear infinite;
		align-items: center;
	}

	// .slider-brands__item
	&__item {
		@include adaptiveValue("padding-right", 50, 10);
		@include adaptiveValue("padding-left", 50, 10);
	}
}
// ----------------------

// Professional---------------
.page {
	// .page__profession
	&__profession {
		&--margin {
			@include adaptiveValue("margin-bottom", 85, 30);
		}
	}
}
.profession {
	// .profession__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: toRem(495);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: toRem(40);
	}

	// .profession__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(290), 1fr));
		column-gap: toRem(32);
		row-gap: toRem(28);
	}
	&__more-servis {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #6b77e5;
		transition: all 0.4s;
		@include adaptiveValue("font-size", 25, 18);
		color: #fff;
		@include adaptiveValue("padding-top", 72, 30);
		@include adaptiveValue("padding-bottom", 72, 30);
		@media (any-hover: hover) {
			&:hover {
				background-color: rgb(64, 221, 182);
				text-decoration: underline;
				color: #000;
			}
		}
	}
}

.card-profession {
	display: flex;
	justify-content: space-between;
	background-color: rgb(244, 244, 244);
	@include adaptiveValue("padding", 30, 15);
	gap: toRem(15);

	// .card-profession__content
	&__content {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 27, 10);
	}

	// .card-profession__title
	&__title {
		font-family: "Poppins", sans-serif;
		@include adaptiveValue("font-size", 25, 18);
		font-weight: 600;
		line-height: 1.5;
	}

	// .card-profession__icon
	&__icon {
		padding: toRem(15);
		background-color: rgb(64, 221, 182);
		display: flex;
		flex: 0 0 toRem(72);
		width: toRem(72);
		height: toRem(72);
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: background-color 0.3s;
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.card-profession__icon {
				background-color: rgb(93, 115, 200);
			}
		}
	}
}
//---------------------------

//SOLUTIONS-----------------

.page {
	&__solutions {
		&--margin {
			@include adaptiveValue("margin-bottom", 132, 30);
		}
	}
}

.solutions {
	@media (min-width: toEm(925.8)) {
		display: flex;
	}

	// .solutions__content
	&__content {
		color: #fff;
		background-color: #37393f;
		flex: 0 0 100%;
		@include adaptiveValue("padding-top", 138, 30);
		@include adaptiveValue("padding-bottom", 138, 30);
	}

	// .solutions__body
	&__body {
		@media (min-width: toEm(925.8)) {
			width: 56.7%;
			padding-right: toRem(20);
		}
		& > *:not(:last-child) {
			margin-bottom: toRem(36);
		}
	}

	// .solutions__title
	&__title {
		color: rgb(255, 255, 255);
		@include adaptiveValue("font-size", 30, 20);
		font-weight: 600;
		line-height: 1.2;
		max-width: toRem(370);
		margin-bottom: toRem(13);
	}

	// .solutions__text
	&__text {
		max-width: toRem(572);
		font-weight: 400;
		color: #fff;
		@include adaptiveValue("font-size", 18, 15);
	}

	// .solutions__card
	&__card {
		display: flex;
		gap: toRem(15);
		flex-wrap: wrap;
		max-width: toRem(615);
	}

	// .solutions__backgrounds
	&__backgrounds {
		@media (min-width: toEm(925.8)) {
			position: relative;
			display: inline-block;
			flex: 0 0 43.5vw;
			transform: translate(-100%, 0);
		}
		@media (max-width: toEm(925.8)) {
			display: none;
		}
	}

	// .solutions__background
	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.cards-stats {
	display: flex;
	align-items: center;
	column-gap: toRem(12);
	padding: toRem(27) toRem(30);
	background-color: #2e2f34;
	flex: 1 0 toRem(260);

	// .cards-stats__icon
	&__icon {
		display: flex;
		position: relative;
		width: toRem(79.32);
		height: toRem(79.32);
		justify-content: center;
		align-items: center;
		background-color: #37393f;
		border-radius: 50%;

		svg {
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__progress {
		transform: rotate(-90deg);
	}

	// .cards-stats__prise
	&__prise {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 15);
	}

	// .cards-stats__lable
	&__lable {
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 1.3;
	}

	// .cards-stats__sab-titile
	&__sab-titile {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		line-height: 1.5;
	}
}
.list-solutions {
	display: flex;
	flex-wrap: wrap;
	max-width: 38.125rem;
	column-gap: toRem(15);
	row-gap: toRem(23);

	// .list-solutions__item
	&__item {
		font-family: "Poppins", sans-serif;
		flex: 1 1 calc(50% - toRem(15));
		min-width: toRem(215);
		display: flex;
		align-items: center;
		gap: toRem(9);
		@include adaptiveValue("font-size", 20, 15);
	}

	// .list-solutions__yellow
	&__yellow {
		color: #ffb342;
	}

	// .list-solutions__link
	&__link {
		font-family: "Inter", sans-serif;
		color: #40ddb6;
		text-transform: capitalize;
		position: relative;
		&::after {
			content: "";
			width: 0%;
			height: toRem(2);
			background-color: #40ddb6;
			position: absolute;
			right: 0;
			bottom: toRem(-5);
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}
//---------------------------------

// PROJECT--------------------------
.page {
	&__project {
		&--margin {
			@include adaptiveValue("margin-bottom", 275, 40);
		}
	}
}

.project {
	// .project__container
	&__container {
		margin-bottom: toRem(40);
	}

	// .project__top
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;
	}

	// .project__header
	&__header {
		max-width: toRem(555);
	}

	// .project__title
	&__title {
		line-height: 1.2;
	}

	// .project__link-batton
	&__link-batton {
		padding: toRem(22) toRem(45);
		background-color: #40ddb6;
		color: white;
	}

	// .project__content
	&__content {
		max-width: toRem(1856);
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: toRem(0) toRem(32);
		@include adaptiveValue("gap", 40, 20, 0, 1400, 956);
		@include adaptiveValue("padding-left", 32, 10, 0, 1400, 956);
		@include adaptiveValue("padding-right", 32, 10, 0, 1400, 956);
		@media (max-width: toEm(925.8)) {
			grid-template-columns: repeat(3, 1fr);
			@media (max-width: toEm(755.8)) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: toEm(556.8)) {
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
				justify-items: center;
			}
		}
	}

	// .project__link
	&__link {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 434 / 501;
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.1);
				}
			}
		}
	}
}

// COMIT-CLIENT------------------

.page {
	// .page__comint
	&__comint {
		@include adaptiveValue("margin-bottom", 275, 10);
	}
}
.comint {
	// .comint__container
	&__container {
		@include adaptiveValue("padding-top", 140, 30);
		border-top: toRem(1) solid #c5c5c5;
		display: flex;
		@include adaptiveValue("gap", 36, 10);
		@media (max-width: toEm(1199.8)) {
			flex-direction: column;
		}
	}

	// .comint__header
	&__header {
		max-width: toRem(324);
		@media (max-width: toEm(1199.8)) {
			display: flex;
			max-width: 100%;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__content {
		display: flex;
		flex: 0 1 71%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		@include adaptiveValue("gap", 36, 10);
	}

	// .comint__title
	&__title {
		line-height: 1.2;
		@include adaptiveValue("font-size", 40, 15);
		margin-bottom: toRem(23);
	}

	// .comint__text
	&__text {
		color: #7d7d7d;
	}
}

.card-comint {
	// .card-comint__top
	min-width: toRem(290);
	flex: 1 1 47.5%;
	padding: toRem(50) toRem(37);
	background-color: #f6f6f6;
	@media (max-width: toEm(758)) {
		padding: toRem(20) toRem(17);
	}

	&__top {
		display: flex;
		column-gap: toRem(16);
		align-items: center;
		@include adaptiveValue("margin-bottom", 34, 14);
	}

	&__image {
		width: toRem(101);
		height: toRem(101);
		border-radius: 50%;
		object-fit: cover;
		flex: 0 0 toRem(101);
		background-color: #ffd2d2;
	}

	// .card-comint__info
	&__info {
		display: flex;
		flex-direction: column;
		& :not(:last-child) {
			margin-bottom: toRem(1);
		}
		& p {
			font-weight: 400;
			font-size: toRem(16);
			line-height: 1.3;
			color: #7d7d7d;
		}
	}

	&__name {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 15);
		line-height: 1.2;
	}

	// .card-comint__text
	&__text {
		font-style: italic;
		font-weight: 400;
		@include adaptiveValue("font-size", 22, 14);
		line-height: 1.4;
		color: #7d7d7d;
	}
}
// ------------------------------

//  NOW WORK----------------------
.page {
	&__how--margin {
		@include adaptiveValue("margin-bottom", 200, 50);
	}
}
.how {
	&__wrap {
		background-color: #6b77e5;
		@include adaptiveValue("padding-top", 123, 10);
		@include adaptiveValue("padding-bottom", 123, 10);
	}

	// .how__body
	&__body {
		display: flex;
		@include adaptiveValue("gap", 56, 14);
		color: #fff;
		@media (max-width: toEm(755.8)) {
			flex-direction: column;
		}
	}
}
.work-how {
	// .work-how__header
	flex: 1 1 46.96%;
	&__header {
		margin-bottom: toRem(34);
	}

	// .work-how__title
	&__title {
		max-width: toRem(426);
		line-height: 1.2;
		margin-bottom: toRem(21);
	}

	// .work-how__text
	&__text {
		font-weight: 400;
		line-height: 1.4;
		color: #fff;
	}
}
.card-stats {
	font-family: "Poppins", sans-serif;
	background-color: #40ddb6;
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 23, 5);
	@include adaptiveValue("padding", 35, 10);
	@include adaptiveValue("margin-bottom", 50, 15);

	// .card-stats__icon
	&__icon {
		position: relative;
		width: toRem(129);
		height: toRem(129);
		@include adaptiveValue("height", 129, 90);
		display: flex;
		flex: 0 0 toRem(129);
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		overflow: hidden;
		& svg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .card-stats__vaule
	&__vaule {
		display: flex;
		flex-direction: column;
		align-items: center;
		& strong {
			font-weight: 700;
			@include adaptiveValue("font-size", 35, 19);
			line-height: 1.2;
			font-family: "Poppins", sans-serif;
		}
	}

	// .card-stats__text
	&__text {
		@include adaptiveValue("font-size", 25, 18);
	}
}
.list-how {
	max-width: toRem(520);
	.list-how__item:not(:last-child) {
		.list-how__info {
			padding-bottom: toRem(21);
			border-bottom: toRem(1) solid#fff;
		}
	}
	// .list-how__item
	&__item {
		display: flex;
		column-gap: toRem(16);
		&:not(:last-child) {
			margin-bottom: toRem(18);
		}
	}

	// .list-how__info
	&__info {
		& p {
			font-weight: 400;
			line-height: 1.4;
			@include adaptiveValue("font-size", 18, 16);
		}
	}
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 22, 19);
		margin-bottom: toRem(5);
	}
}
.book-how {
	flex: 1 1 46.4%;
	// .book-how__header
	&__header {
		margin-bottom: toRem(24);
	}
}
.form {
	@include adaptiveValue("padding", 58, 5);
	display: grid;
	gap: toRem(25);
	background-color: #fff;
	// .form__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(23);
	}

	// .form__input

	&__input {
		background-color: #f8f8f8;
		border: toRem(1) solid #ddd;
		min-height: toRem(65);
		flex: 1 1 100%;
		padding: toRem(0) toRem(33);
		font-size: toRem(18);
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 400;
		color: #37393f;
		font-family: "Inter", sans-serif;
		&::placeholder {
			color: #37393f;
		}
		&:focus::placeholder {
			opacity: 0;
			border: toRem(1) solid #ae1717;
		}
		&--wight {
			flex: 1 1 46%;
			padding-right: toRem(19);
		}
	}

	// .form__textarea

	&__textarea {
		@include adaptiveValue("font-size", 18, 14);
		background-color: #f8f8f8;
		border: toRem(1) solid #ddd;
		flex: 1 1 100%;
		min-height: toRem(139);
		padding: toRem(11) toRem(33);
		resize: none;

		&::placeholder {
			color: #37393f;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}

	// .form__button

	&__button {
		color: #37393f;
		justify-self: start;
		padding: toRem(21) toRem(61);
		background-color: #40ddb6;
		@media (any-hover: hover) {
			&:hover {
				color: white;
			}
		}
	}
}

.team-how {
	position: relative;
	@include adaptiveValue("padding-top", 256, 100);
	@include adaptiveValue("padding-bottom", 256, 100);
	// .team-how__beacgraund

	&__beacgraund {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .team-how__container

	&__container {
		display: flex;
		justify-content: center;
	}

	// .team-how__link

	&__link {
		color: #fff;
		position: relative;
		@include adaptiveValue("font-size", 40, 20);
		font-family: "Poppins", sans-serif;
		line-height: 1.2;
		font-weight: 700;
		@include adaptiveValue("padding-top", 87, 30);
		@include adaptiveValue("padding-bottom", 87, 30);
		@include adaptiveValue("padding-left", 100, 50);
		@include adaptiveValue("padding-right", 100, 50);
		background-color: rgba(55, 57, 63, 0.8);
		@media (any-hover: hover) {
			&:hover {
				background-image: linear-gradient(
					90deg,
					rgba(97, 96, 116, 1) 0%,
					rgba(21, 129, 143, 0.8085828081232493) 100%
				);
			}
		}
	}
}
// ---------------------------------------------------

// ---------------------- POST---------------------------
.page {
	// .page__post
	&__post {
		&--margin {
			@include adaptiveValue("margin-bottom", 150, 50);
		}
	}
}
.post {
	// .post__top
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;
		margin-bottom: toRem(40);
	}

	// .post__link-batton
	&__link-batton {
		background: #37393f;
		color: #fff;
	}

	// .post__content
	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(toRem(390), 100%), 1fr));
		@include adaptiveValue("gap", 30, 15);
	}
}

.item-post {
	// .item-post__header
	&__header {
		margin-bottom: toRem(19);
	}

	// .item-post__image
	&__image {
		aspect-ratio: 592/363;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__inform {
		white-space: nowrap;
		display: flex;
		flex-wrap: wrap;
	}

	// .item-post__data
	&__data {
		display: flex;
		background-color: #6b77e5;
		padding: toRem(10);
		color: #fff;
		font-weight: 600;
		flex: 1 1 37%;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("min-height", 65, 35);
	}

	// .item-post__link
	&__link {
		flex: 1 1 62.8%;
		display: flex;
		flex-wrap: wrap;
		gap: toRem(2);
		background-color: #2d9e82;
	}

	// .item-post__foter
	&__foter {
		& > * {
			margin-bottom: toRem(15);
		}
	}

	// .item-post__title
	&__title {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		@include adaptiveValue("font-size", 30, 25);
		line-height: 1.2;
		color: #37393f;
	}

	// .item-post__text
	&__text {
		font-weight: 400;
		line-height: 1.4;
		color: #7d7d7d;
		margin-bottom: toRem(26);
		& p:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}

.tag {
	position: relative;
	display: flex;
	color: #208068;
	font-weight: 400;
	padding: toRem(10);
	text-transform: capitalize;
	background-color: #40ddb6;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	gap: toRem(5);
	@include adaptiveValue("min-height", 65, 35);
	overflow: hidden;

	&__icon {
		width: toRem(14);
		height: toRem(14);
		display: flex;
		align-items: center;
	}

	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-color: #262e73;
		right: 0;
		transform: translateX(-100%);
		transition: transform 0.5s;
	}

	@media (any-hover: hover) {
		&:hover {
			&::before {
				transform: translateX(0);
			}
			& span {
				position: relative;
				z-index: 5;
				color: #fff;
			}
			& span path {
				fill: #fff;
			}
		}
	}
}

// --------------------------------------------

// --------------------CONTACT------------------

.contact {
	// .contact__container
	&__container {
		position: relative;
	}

	// .contact__body
	&__body {
		@include adaptiveValue("padding-top", 96, 10);
		@include adaptiveValue("padding-bottom", 96, 10);
		display: flex;
		justify-content: center;
		padding-left: toRem(10);
		padding-right: toRem(10);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(64, 221, 182, 0.75);
			backdrop-filter: blur(5px);
			z-index: -1;
		}
	}

	// .contact__image
	&__image {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}

	// .contact__content
	&__content {
		text-align: center;
		max-width: toRem(729);
	}

	// .contact__sab-title
	&__sab-title {
		justify-content: center;
		color: #37393f;
		&::before {
			background-color: #6b77e5;
		}
	}

	// .contact__title
	&__title {
		color: #37393f;
		line-height: 1.2;
		& strong {
			color: #fff;
		}
		margin-bottom: toRem(10);
	}

	// .contact__text
	&__text {
		margin-bottom: toRem(26);
		line-height: 1.4;
		font-weight: 400;
		& > p:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}

@import "_footer";
